<ul class="links">
        <li
        {% if page.menu == "index" %}
        class="active"
        {% endif %}
        >
            <a href="/index.html">Home</a></li>
        <li
        {% if page.menu == "generic" %}
        class="active"
        {% endif %}
        >
            <a href="/generic.html">
            Generic</a></li>
        <li
        {% if page.menu == "elements" %}
        class="active"
        {% endif %}
        >
            <a href="/elements.html">Elements</a></li>
        <li
        {% if page.menu == "blog" %}
        class="active"
        {% endif %}
        >
            <a href="https://blog.ferdi.id">Go to Blog</a></li>
        <li
        {% if page.menu == "posts" %}
        class="active"
        {% endif %}
        >
            <a href="/posts.html">Posts</a></li>
        <li
        {% if page.menu == "resources" %}
        class="active"
        {% endif %}
        >
                <a href="/resources/resources.html">Sumber Daya</a></li>
        <li
        {% if page.menu == "about" %}
        class="active"
        {% endif %}
        >
                        <a href="/about/about.html">Tentang</a></li>
    </ul>